@media (max-width: 767px) {
  .cvContainer {
    flex-direction: column;
    align-items: center;
    margin-right: 0vh;
    padding-top: 60px;

    .titlePage {
      h2 {
        font-size: 28px;
      }
      h3 {
        font-size: 20px;
      }
    }

    .cvSplit {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .cvLeft,
    .cvRight {
      width: 100%;
      height: auto;
      min-height: 0;
      margin: 0 auto;
      margin-bottom: 10px;

      .languages {
        height: fit-content;
        padding-bottom: 10px;
      }
      .proContent {
        padding: 10px 5px;
        p {
          padding-top: 10px;
        }
      }

      .studies {
        padding: 10px 5px;
        p {
          padding-top: 10px;
        }
      }

      .others {
        padding: 10px 5px;
        .othersContent {
          .li {
            padding-top: 10px;
          }
        }
      }

      .expPro {
        min-height: auto;
      }

      .skills {
        padding: 10px 5px;

        li {
          padding-top: 10px;
        }
      }
    }

    .cvLeft {
      .languages {
        .langContent {
          .barchart {
            margin-top: 15px;

            .barre::after {
              transform: translateY(-5px);
            }
            &:last-child{
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .cvContainer {
    .titlePage {
      h2 {
        font-size: 20px;
      }
      h3 {
        font-size: 16px;
      }
    }
    .cvLeft {
      .languages {
        .langContent {
          .barchart {
            margin-top: 10px;
            h4 {
              font-size: 14px;
              text-align: left;
              margin-right: 5px;
            }
            .barre::after {
              height: 3px;
              transform: translateY(-5px);
            }
          }
        }
      }
    }
  }
}
