/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.accueilContainer {
  width: 100%;
}

.cvContainer {
  width: 100%;
  min-height: 100vh;
  margin-left: 320px;
  position: relative;
}

.dropsContainer {
  width: 100%;
  max-width: 1920px;
  height: 15vw;
  max-height: 290px;
  display: flex;
  padding: 0 6vw;
  align-items: center;
  gap: 0 2vw;
  background-color: #f1f1f1;
  margin: 0 auto;
  border: 1px solid black;
}
.dropsContainer .drop {
  position: relative;
  width: 13vw;
  height: 13vw;
  max-width: 250px;
  max-height: 250px;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05), 25px 35px 20px rgba(0, 0, 0, 0.05), 25px 30px 30px rgba(0, 0, 0, 0.05), inset -20px -20px 25px rgba(255, 255, 255, 0.9);
  transition: 0.5 ease-in-out;
}
.dropsContainer .drop::before,
.dropsContainer .drop::after {
  content: "";
  position: absolute;
  background-color: #fff;
  opacity: 0.9;
  border-radius: 50%;
}
.dropsContainer .drop::before {
  top: clamp(16px, 0px + 2vw, 50px);
  left: clamp(16px, 0px + 2vw, 50px);
  width: clamp(12px, 1.58vw, 40px);
  height: clamp(12px, 1.58vw, 40px);
}
.dropsContainer .drop::after {
  top: clamp(28px, 0px + 3.5vw, 80px);
  left: clamp(26px, 0px + 3.5vw, 80px);
  width: clamp(7.5px, 0.98vw, 25px);
  height: clamp(7.5px, 0.98vw, 25px);
}
.dropsContainer .dropLettre {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  font-size: clamp(16px, 2.1vw, 40px);
  width: clamp(32px, 4.2vw, 60px);
  height: clamp(32px, 4.2vw, 60px);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.5), inset -4px -4px 10px rgba(255, 255, 255, 0.9), 15px 15px 10px rgba(0, 0, 0, 0.05), 15px 10px 15px rgba(0, 0, 0, 0.05);
  z-index: 5;
}
.dropsContainer .dropTexte {
  color: black;
  width: 100%;
  text-align: center;
  position: absolute;
  flex-wrap: nowrap;
  top: 70%;
  left: 0%;
  transform: translateX(-50%);
  font-size: clamp(12px, 1.6vw, 30px);
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(51, 51, 51, 0.5019607843);
}

@media (max-width: 768px) {
  .dropsContainer {
    height: 58vw;
    min-height: 60vw;
    flex-wrap: wrap;
    gap: 2vw;
    padding: 10px 0 0 0;
    justify-content: center;
  }
  .dropsContainer .drop {
    height: 25vw;
    width: 25vw;
  }
  .dropsContainer .drop::before {
    top: clamp(16px, 0px + 4vw, 50px);
    left: clamp(16px, 0px + 4vw, 50px);
    width: clamp(12px, 3vw, 40px);
    height: clamp(12px, 3vw, 40px);
  }
  .dropsContainer .drop::after {
    top: clamp(28px, 0px + 7vw, 80px);
    left: clamp(26px, 0px + 7vw, 80px);
    width: clamp(7.5px, 2vw, 25px);
    height: clamp(7.5px, 2vw, 25px);
  }
  .dropsContainer .dropLettre {
    font-size: clamp(16px, 5vw, 40px);
    width: clamp(32px, 8.4vw, 60px);
    height: clamp(32px, 8.4vw, 60px);
  }
  .dropsContainer .dropTexte {
    font-size: clamp(12px, 3.2vw, 25px);
  }
}
.informatiqueContainer {
  width: 100%;
  min-height: 100vh;
  margin-left: 320px;
}

.navbarContainer {
  position: fixed;
  width: 300px;
  height: 98vh;
  margin: 1vh 10px;
  color: white;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px 0;
}
.navbarContainer .infoPerso {
  background: #fff;
  border-radius: 15px;
  background: rgba(2, 2, 2, 0.2);
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  box-shadow: 1px 1px 2px 2px rgba(255, 255, 255, 0.075);
  width: 100%;
  height: 30%;
}
.navbarContainer .infoPerso img {
  display: block;
  width: clamp(120px, 60px + 9vh, 180px);
  height: clamp(120px, 60px + 9vh, 180px);
  border-radius: 999px;
  margin: 1.5vh auto;
  margin-bottom: calc(7vh - 50px);
}
.navbarContainer .infoPerso h2 {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: clamp(15px, 10px + 1vh, 30px);
  margin-bottom: 1vh;
  margin-top: 1vh;
  padding-bottom: 5px;
  text-shadow: 0.5px 0.5px 1px #f1f1f1;
}
.navbarContainer .navigation {
  background: #fff;
  border-radius: 15px;
  background: rgba(2, 2, 2, 0.2);
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  box-shadow: 1px 1px 2px 2px rgba(255, 255, 255, 0.075);
  width: 100%;
  height: 50%;
}
.navbarContainer .navigation a {
  color: white;
}
.navbarContainer .socialNetwork {
  background: #fff;
  border-radius: 15px;
  background: rgba(2, 2, 2, 0.2);
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  box-shadow: 1px 1px 2px 2px rgba(255, 255, 255, 0.075);
  width: 100%;
  height: 15%;
}
.navbarContainer .socialNetwork ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navbarContainer .socialNetwork ul li {
  width: clamp(50px, 30px + 2.5vh, 60px);
  height: clamp(50px, 30px + 2.5vh, 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(20px, 10px + 1.5vh, 30px);
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  transition: all 0.5s ease-out;
}
.navbarContainer .socialNetwork ul li:hover {
  border-color: #eee;
  transform: scale(1.2);
}
.navbarContainer .signature {
  background: #fff;
  border-radius: 15px;
  background: rgba(2, 2, 2, 0.2);
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  box-shadow: 1px 1px 2px 2px rgba(255, 255, 255, 0.075);
  width: 100%;
  height: 5%;
  color: violet;
}

.navbarMiniContainer {
  position: absolute;
}

.signature {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parcoursContainer {
  width: 100%;
  min-height: 100vh;
  margin-left: 320px;
}

.partageContainer {
  width: 100%;
  min-height: 100vh;
  margin-left: 320px;
}

.portfolioContainer {
  width: 100%;
  min-height: 100vh;
  margin-left: 320px;
}

body {
  background-color: #333;
}

.App {
  width: 100%;
  min-height: 100vh;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  background-color: #333;
  position: relative;
}

.halo {
  width: 2vw;
  height: 2vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0.2;
  -webkit-animation: bgc 60s infinite ease-in-out;
          animation: bgc 60s infinite ease-in-out;
}

@-webkit-keyframes bgc {
  50% {
    width: 60vw;
    height: 60vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    width: 2vw;
    height: 2vw;
  }
}

@keyframes bgc {
  50% {
    width: 60vw;
    height: 60vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    width: 2vw;
    height: 2vw;
  }
}
.pageContainer {
  width: 100%;
  min-height: 98vh;
  margin: 1vh;
  margin-left: 320px;
  background: #fff;
  border-radius: 15px;
  background: rgba(2, 2, 2, 0.2);
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  box-shadow: 1px 1px 2px 2px rgba(255, 255, 255, 0.075);
}

@media (max-width: 1024px) {
  .pageContainer {
    margin-left: 1vh;
  }
}/*# sourceMappingURL=index.css.map */