/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.accueilContainer {
  color: #fff;
}
.accueilContainer .accueilContent {
  width: 100%;
  min-height: 50vh;
  border: 1px solid violet;
  margin-top: 20px;
}
.accueilContainer .accueilContent h2 {
  font-size: clamp(16px, 2.1vw, 40px);
  color: black;
  margin: 20px;
  text-align: center;
}

.cvContainer {
  width: 100%;
  max-width: 1620px;
  min-height: 90vh;
  margin: 1vh 0;
  margin-right: 1vh;
  display: flex;
  justify-content: space-between;
}

.cvLeft {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space space-between;
  align-items: center;
}
.cvLeft .languages,
.cvLeft .skills,
.cvLeft .others {
  display: flex;
  width: 100%;
  min-height: 50px;
  background: #fff;
  border-radius: 15px;
  background: rgba(2, 2, 2, 0.2);
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  box-shadow: 1px 1px 2px 2px rgba(255, 255, 255, 0.075);
}
.cvLeft .languages {
  height: 33%;
  margin-bottom: 7px;
}
.cvLeft .skills {
  height: 50%;
  margin-bottom: 7px;
}
.cvLeft .others {
  height: 17%;
}

.cvRight {
  width: 50%;
  height: 100%;
  margin-left: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space space-between;
  align-items: center;
}
.cvRight .expPro {
  height: 65%;
  width: 100%;
  background: #fff;
  border-radius: 15px;
  background: rgba(2, 2, 2, 0.2);
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  box-shadow: 1px 1px 2px 2px rgba(255, 255, 255, 0.075);
  margin-bottom: 14px;
}
.cvRight .studies {
  height: 34%;
  width: 100%;
  background: #fff;
  border-radius: 15px;
  background: rgba(2, 2, 2, 0.2);
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  box-shadow: 1px 1px 2px 2px rgba(255, 255, 255, 0.075);
}

.cvContent {
  width: 100%;
  height: 100%;
  border: 1px solid violet;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dropsContainer {
  width: calc(100vw - 350px);
  max-width: 1920px;
  height: calc((93vw - 320px) / 6);
  max-height: 290px;
  display: flex;
  padding: 1vw;
  align-items: center;
  gap: 1vw;
  margin: 1vw auto;
}
.dropsContainer .drop {
  position: relative;
  width: calc((100vw - 320px - 6vw) / 6);
  height: calc((100vw - 320px - 6vw) / 6);
  max-width: 230px;
  max-height: 230px;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05), 25px 35px 20px rgba(0, 0, 0, 0.05), 25px 30px 30px rgba(0, 0, 0, 0.05), inset -20px -20px 25px rgba(255, 255, 255, 0.9);
  transition: 0.5 ease-in-out;
}
.dropsContainer .drop::before,
.dropsContainer .drop::after {
  content: "";
  position: absolute;
  background-color: #fff;
  opacity: 0.9;
  border-radius: 50%;
}
.dropsContainer .drop::before {
  top: clamp(16px, 0px + 2vw, 50px);
  left: clamp(16px, 0px + 2vw, 50px);
  width: clamp(12px, 1.58vw, 40px);
  height: clamp(12px, 1.58vw, 40px);
}
.dropsContainer .drop::after {
  top: clamp(28px, 0px + 3.5vw, 80px);
  left: clamp(26px, 0px + 3.5vw, 80px);
  width: clamp(7.5px, 0.98vw, 25px);
  height: clamp(7.5px, 0.98vw, 25px);
}
.dropsContainer .dropLettre {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  font-size: clamp(16px, 2.1vw, 40px);
  width: clamp(32px, 4.2vw, 60px);
  height: clamp(32px, 4.2vw, 60px);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.5), inset -4px -4px 10px rgba(255, 255, 255, 0.9), 15px 15px 10px rgba(0, 0, 0, 0.05), 15px 10px 15px rgba(0, 0, 0, 0.05);
  z-index: 5;
}
.dropsContainer .dropTexte {
  color: black;
  width: 100%;
  text-align: center;
  position: absolute;
  flex-wrap: nowrap;
  top: 70%;
  left: 0%;
  transform: translateX(-50%);
  font-size: clamp(12px, 1.6vw, 30px);
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(51, 51, 51, 0.5019607843);
}

@media (max-width: 1023px) {
  .dropsContainer {
    width: 100vw;
    height: 16.6666666667vw;
    gap: 1vw;
    justify-content: center;
    padding-right: 60px;
    padding-left: 30px;
  }
  .dropsContainer .drop {
    width: calc((92vw - 60px) / 6);
    height: calc((92vw - 60px) / 6);
  }
}
@media (max-width: 425px) {
  .dropsContainer {
    height: 58vw;
    min-height: 60vw;
    flex-wrap: wrap;
    gap: 2vw;
    padding: 10px 0 0 0;
    justify-content: center;
  }
  .dropsContainer .drop {
    height: 25vw;
    width: 25vw;
  }
  .dropsContainer .drop::before {
    top: clamp(16px, 0px + 4vw, 50px);
    left: clamp(16px, 0px + 4vw, 50px);
    width: clamp(12px, 3vw, 40px);
    height: clamp(12px, 3vw, 40px);
  }
  .dropsContainer .drop::after {
    top: clamp(28px, 0px + 7vw, 80px);
    left: clamp(26px, 0px + 7vw, 80px);
    width: clamp(7.5px, 2vw, 25px);
    height: clamp(7.5px, 2vw, 25px);
  }
  .dropsContainer .dropLettre {
    font-size: clamp(16px, 5vw, 40px);
    width: clamp(32px, 8.4vw, 60px);
    height: clamp(32px, 8.4vw, 60px);
  }
  .dropsContainer .dropTexte {
    font-size: clamp(12px, 3.2vw, 25px);
  }
}
.informatiqueContainer {
  color: #fff;
}
.informatiqueContainer .formations .intro,
.informatiqueContainer .formations .intro2 {
  color: #333;
  width: 90%;
  margin: 30px auto;
  text-align: justify;
}
.informatiqueContainer .formations .intro .suite,
.informatiqueContainer .formations .intro2 .suite {
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.informatiqueContainer .formations .etalage {
  width: 98%;
  max-width: 1350px;
  height: clamp(450px, 150px + 17vw, 550px);
  border: 3px solid black;
  border-radius: 15px;
  margin: 20px auto;
  background-color: rgba(51, 51, 51, 0.1450980392);
  position: relative;
  overflow: hidden;
}
.informatiqueContainer .formations .etalage .cadre {
  position: absolute;
  width: clamp(100px, 80px + 10vw, 250px);
  height: clamp(60px, 50px + 6vw, 170px);
  border: 3px solid #333;
  padding: 3px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #333;
  overflow: hidden;
  cursor: pointer;
  transform: translateX(-50%);
}
.informatiqueContainer .formations .etalage .picto {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.informatiqueContainer .formations .etalage .picto img {
  width: 99%;
  height: 98%;
  border-radius: 10px;
}
.informatiqueContainer .formations .etalage .detailsOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
  opacity: 0.5;
  background-color: rgba(238, 238, 238, 0.6);
  z-index: 25;
  -webkit-animation: comeOn 1.5s forwards;
          animation: comeOn 1.5s forwards;
  overflow: hidden;
}
@-webkit-keyframes comeOn {
  to {
    left: 0;
    opacity: 1;
  }
}
@keyframes comeOn {
  to {
    left: 0;
    opacity: 1;
  }
}
.informatiqueContainer .formations .etalage .detailsOverlay h2 {
  color: #333;
}
.informatiqueContainer .formations .etalage .detailsOverlayMute {
  display: none;
}
.informatiqueContainer .formations .etalage .closeOverlay {
  position: absolute;
  width: clamp(35px, 5vw, 50px);
  height: clamp(35px, 5vw, 50px);
  border-radius: 50%;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 15px;
  bottom: 15px;
  z-index: 50;
  background-color: rgba(255, 0, 0, 0.6);
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
.informatiqueContainer .formations .etalage .infoCours {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  background-color: rgba(238, 238, 238, 0.6);
}
.informatiqueContainer .formations .etalage .infoCours .left {
  width: 50%;
  height: 100%;
  border-right: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(238, 238, 238, 0.6);
}
.informatiqueContainer .formations .etalage .infoCours .left img {
  width: 60%;
  box-shadow: 4px 4px 8px #333;
}
.informatiqueContainer .formations .etalage .infoCours .left h2 {
  font-size: clamp(22px, 12px + 1vw, 35px);
  text-align: center;
  margin: 10px 0;
  font-weight: bold;
}
.informatiqueContainer .formations .etalage .infoCours .right {
  width: 50%;
  height: 100%;
  padding: 20px 15px 40px 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  background-color: rgba(238, 238, 238, 0.6);
}
.informatiqueContainer .formations .etalage .infoCours .right h2 {
  font-size: clamp(22px, 12px + 1vw, 35px);
  text-align: center;
  text-decoration: underline;
}
.informatiqueContainer .formations .etalage .infoCours .right h3 {
  color: #333;
}
.informatiqueContainer .formations .etalage .infoCours .right .comp {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}

@media (max-width: 767px) {
  .informatiqueContainer .formations .etalage .infoCours .left {
    width: 40%;
  }
}
@media (max-width: 580px) {
  .informatiqueContainer .formations .etalage .infoCours {
    flex-direction: column;
  }
  .informatiqueContainer .formations .etalage .infoCours .left {
    width: 100%;
    border: none;
  }
  .informatiqueContainer .formations .etalage .infoCours .left img {
    margin: 15px;
  }
  .informatiqueContainer .formations .etalage .infoCours .right {
    width: 100%;
  }
}
.navbarContainer {
  width: 300px;
  height: 96vh;
  margin: 1vh 10px;
  color: white;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px 0;
}
.navbarContainer .infoPerso {
  background: #fff;
  border-radius: 15px;
  background: rgba(2, 2, 2, 0.2);
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  box-shadow: 1px 1px 2px 2px rgba(255, 255, 255, 0.075);
  width: 100%;
  height: 30%;
}
.navbarContainer .infoPerso img {
  display: block;
  width: clamp(120px, 60px + 9vh, 180px);
  height: clamp(120px, 60px + 9vh, 180px);
  border-radius: 999px;
  margin: 1.5vh auto;
  margin-bottom: calc(7vh - 50px);
}
.navbarContainer .infoPerso h2 {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: clamp(15px, 10px + 1vh, 30px);
  margin-bottom: 1vh;
  margin-top: 1vh;
  padding-bottom: 5px;
  text-shadow: 0.5px 0.5px 1px #f1f1f1;
}
.navbarContainer .navigation {
  background: #fff;
  border-radius: 15px;
  background: rgba(2, 2, 2, 0.2);
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  box-shadow: 1px 1px 2px 2px rgba(255, 255, 255, 0.075);
  width: 100%;
  height: 50%;
}
.navbarContainer .navigation ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.navbarContainer .navigation li {
  width: 80%;
  background: #fff;
  border-radius: 15px;
  background: rgba(2, 2, 2, 0.2);
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  box-shadow: 1px 1px 2px 2px rgba(255, 255, 255, 0.075);
  padding-right: 1vh;
}
.navbarContainer .navigation p {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  line-height: 100%;
  overflow: hidden;
  transition: all 0.5s;
}
.navbarContainer .navigation p:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  bottom: 12px;
  left: -100%;
  transition: all 0.5s;
}
.navbarContainer .navigation i {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5019607843);
  font-size: 30px;
  margin: 1vh 0 1vh 1vh;
}
.navbarContainer .navigation a {
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: clamp(16px, 5px + 1.2vh, 20px);
}
.navbarContainer .navigation li:hover p:after {
  left: 0;
}
.navbarContainer .socialNetwork {
  background: #fff;
  border-radius: 15px;
  background: rgba(2, 2, 2, 0.2);
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  box-shadow: 1px 1px 2px 2px rgba(255, 255, 255, 0.075);
  width: 100%;
  height: 15%;
}
.navbarContainer .socialNetwork ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}
.navbarContainer .socialNetwork ul li {
  width: clamp(50px, 30px + 2.5vh, 60px);
  height: clamp(50px, 30px + 2.5vh, 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(20px, 10px + 1.5vh, 30px);
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  transition: all 0.5s ease-out;
  position: relative;
  opacity: 1;
}
.navbarContainer .socialNetwork ul li:hover {
  border-color: #eee;
  transform: scale(1.2);
}
.navbarContainer .signature {
  background: #fff;
  border-radius: 15px;
  background: rgba(2, 2, 2, 0.2);
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  box-shadow: 1px 1px 2px 2px rgba(255, 255, 255, 0.075);
  width: 100%;
  height: 5%;
  color: violet;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbarContainer .signature h2 {
  font-weight: bold;
}

.navbarMiniContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  right: 0px;
  transition: all 2s;
  padding-top: 60px;
  overflow-x: hidden;
}
.navbarMiniContainer .toggle {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 15px;
  right: 20px;
  background: #f1f1f1;
  border: 5px solid #111;
  color: #111;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  z-index: 100;
  transition: all 0.75s;
}
.navbarMiniContainer .toggle p {
  font-size: 12px;
  font-weight: bold;
}
.navbarMiniContainer .menuBarre {
  width: 250px;
  height: 380px;
  position: absolute;
  top: 60px;
  right: -400px;
  display: flex;
  flex-direction: column;
  transition: all 1.5s ease;
}
.navbarMiniContainer .menuBarre li {
  list-style: none;
  width: 100%;
  padding-right: 15px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
}
.navbarMiniContainer .menuBarre li a {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin: 15px 0;
}
.navbarMiniContainer .menuBarre li a i {
  font-size: 24px;
  width: 30px;
  text-align: center;
  text-shadow: 0.5px 0.5px 1px #f1f1f1;
}
.navbarMiniContainer .menuBarre li a p {
  font-size: 15px;
  margin-right: 10px;
  color: #111;
  font-weight: bold;
}
.navbarMiniContainer .MBActive {
  right: 0;
  z-index: 10;
}
.navbarMiniContainer .socialNetworkBarre {
  position: absolute;
  width: 340px;
  height: 80px;
  top: 440px;
  right: -400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 1.5s ease;
}
.navbarMiniContainer .socialNetworkBarre ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.navbarMiniContainer .socialNetworkBarre ul li {
  font-size: 24px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #111;
  background-color: #f1f1f1;
  padding: 15px;
  border-radius: 50%;
  margin: 10px;
  box-shadow: 0px 0px 10px #f1f1f1;
}
.navbarMiniContainer .SNBActive {
  right: 0;
  z-index: 10;
}
.navbarMiniContainer .overlay {
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  background-color: rgba(241, 241, 241, 0.6);
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parcoursContainer {
  color: #fff;
}

.partageContainer {
  color: #fff;
}

.portfolioContainer {
  color: #fff;
}
.portfolioContainer .cardPortfolio {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #111;
  width: 95%;
  margin: 0 auto;
}
.portfolioContainer .cardPortfolio .cadreImgCard {
  width: 20vw;
  height: 30vw;
  background-color: #333;
  position: relative;
  margin: 30px;
  overflow: hidden;
}
.portfolioContainer .cardPortfolio .cadreImgCard::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 10vw;
  width: 100vw;
  background: linear-gradient(0deg, rgb(51, 51, 51) 0%, rgb(200, 200, 200) 25%, rgb(255, 255, 255) 50%, rgb(200, 200, 200) 75%, rgb(51, 51, 51) 100%);
  z-index: 0;
  -webkit-animation: afterRotate 8s linear infinite;
          animation: afterRotate 8s linear infinite;
}
@-webkit-keyframes afterRotate {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes afterRotate {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.portfolioContainer .cardPortfolio .imgCard {
  width: 98%;
  height: 98%;
  position: relative;
  top: 1%;
  left: 1%;
  overflow: hidden;
  z-index: 5;
}
.portfolioContainer .cardPortfolio .textCard {
  width: 40vw;
  display: flex;
  flex-direction: column;
  position: relative;
  display: flex;
}
.portfolioContainer .cardPortfolio .textCard h3 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}
.portfolioContainer .cardPortfolio .textCard h4 {
  text-decoration: underline;
  font-size: 18px;
  margin: 20px 0 20px 10px;
}
.portfolioContainer .cardPortfolio .textCard p {
  margin: 10px;
  font-size: 16px;
}
.portfolioContainer .cardPortfolio .textCard .content {
  justify-content: center;
}
.portfolioContainer .cardPortfolio .textCard .content span {
  text-decoration: underline;
}
.portfolioContainer .cardPortfolio .textCard .benef {
  justify-content: center;
}
.portfolioContainer .cardPortfolio .textCard .benef span {
  text-decoration: underline;
}
.portfolioContainer .cardPortfolio .textCard .technos {
  width: 80%;
  height: 80px;
}
.portfolioContainer .cardPortfolio .textCard .technos .logo {
  display: flex;
  align-items: center;
}
.portfolioContainer .cardPortfolio .textCard .technos i {
  font-size: 40px;
  margin: 10px;
  text-shadow: 1px 1px 1px #333;
}
.portfolioContainer .cardPortfolio .textCard .technos img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  filter: drop-shadow(1px 1px 1px #333);
}

@media (max-width: 1023px) {
  .portfolioContainer .cardPortfolio {
    margin: 70px 0;
  }
  .portfolioContainer .cardPortfolio .cadreImgCard {
    margin: 0;
    height: 90%;
    width: 35%;
    padding-top: 3px;
  }
  .portfolioContainer .cardPortfolio .textCard {
    width: 55%;
  }
}
@media (max-width: 767px) {
  .portfolioContainer .cardPortfolio {
    flex-direction: column;
  }
  .portfolioContainer .cardPortfolio .cadreImgCard {
    width: 300px;
    max-width: 90%;
  }
  .portfolioContainer .cardPortfolio .textCard {
    width: 90%;
  }
  .portfolioContainer .cardPortfolio .logo {
    flex-wrap: wrap;
  }
}
@media (max-width: 580px) {
  .portfolioContainer {
    padding-top: 60px;
  }
}
.titlePage {
  margin: 20px;
}
.titlePage h2,
.titlePage h3 {
  text-align: center;
  color: #333;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 10px;
}
.titlePage h3 {
  font-size: 25px;
}

.sportContent {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
  padding: 15px;
  transition: all 0.75s;
}
.sportContent .titleSport {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.sportContent h2 {
  font-size: 40px;
  text-decoration: underline;
  margin: 0 0 20px 0;
}
.sportContent .content {
  width: 96%;
  margin: 15px auto;
  min-height: 20vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.sportContent .content img {
  width: 50%;
  border-radius: 15px;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 350px;
  transform: scale(0.05) translateY(100px);
  opacity: 0.05;
  -webkit-animation: apparitionImg 2s ease-out forwards;
          animation: apparitionImg 2s ease-out forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
@-webkit-keyframes apparitionImg {
  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}
@keyframes apparitionImg {
  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}
.sportContent .content .sportText {
  margin: 10px;
}
.sportContent .sportConclusion p {
  width: 90%;
  margin: 10px auto;
  font-size: 18px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.switchSport {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: space-around;
}
.switchSport p {
  margin-top: 40px;
  padding: 10px 20px;
  border: 2px solid #197910;
  border-radius: 15px;
  font-size: 20px;
  cursor: pointer;
}
.switchSport .choiceMade {
  font-weight: bold;
  background: radial-gradient(circle, rgb(25, 121, 16) 0%, rgb(255, 255, 255) 50%, rgb(25, 121, 16) 100%);
}

@media (max-width: 768px) {
  .sportContainer .titlePage h2 {
    font-size: 28px;
  }
  .sportContainer .titlePage h3 {
    font-size: 20px;
  }
  .sportContent .content {
    flex-direction: column;
    text-align: center;
  }
  .sportContent .content:nth-child(even) {
    flex-direction: column-reverse;
  }
  .sportContent img {
    margin-bottom: 20px;
  }
}
@media (max-width: 580px) {
  .sportContainer {
    padding-top: 60px;
  }
}
@media (max-width: 424px) {
  .switchSport p {
    font-size: 16px;
    padding: 7px 15px;
    margin-top: 25px;
  }
}
.notFoundContainer h2 {
  font-size: clamp(40px, 20px + 1vh, 60px);
  color: white;
  text-align: center;
  margin: 40px auto;
}
.notFoundContainer .content {
  background: #fff;
  border-radius: 15px;
  background: rgba(2, 2, 2, 0.2);
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  box-shadow: 1px 1px 2px 2px rgba(255, 255, 255, 0.075);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75%;
  height: 80vh;
  margin: 150px auto;
  overflow: hidden;
}
.notFoundContainer .content img {
  width: 33vw;
  max-width: 600px;
  height: 33vw;
  max-height: 600px;
}
.notFoundContainer .content h3 {
  font-size: clamp(30px, 10px + 1vh, 50px);
  color: white;
  text-align: center;
  margin: 30px auto;
}
.notFoundContainer .content h3:nth-child(2) {
  color: #00bec0;
}

body {
  background-color: #fff;
}

.App {
  width: 100%;
  min-height: 90vh;
  box-sizing: border-box;
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: 320px 1fr;
  width: 98vw;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #fff;
  padding-right: 10px;
  overflow: hidden;
}

.halo {
  width: 2vw;
  height: 2vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0.2;
  -webkit-animation: bgc 60s infinite ease-in-out;
          animation: bgc 60s infinite ease-in-out;
}

@-webkit-keyframes bgc {
  50% {
    width: 60vw;
    height: 60vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    width: 2vw;
    height: 2vw;
  }
}

@keyframes bgc {
  50% {
    width: 60vw;
    height: 60vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    width: 2vw;
    height: 2vw;
  }
}
.pageContainer {
  width: 100%;
  max-width: 1620px;
  min-height: 90vh;
  margin: 1vh 0;
  margin-right: 1vh;
  background: #fff;
  border-radius: 15px;
  background: rgba(2, 2, 2, 0.2);
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  box-shadow: 1px 1px 2px 2px rgba(255, 255, 255, 0.075);
}

@media (max-width: 1023px) {
  .container {
    display: flex;
    align-items: center;
  }
  .pageContainer {
    margin-left: 1vh;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .pageContainer {
    margin-right: 0.5vw;
    margin-left: 0.5vw;
  }
}/*# sourceMappingURL=index.css.map */