@import "./libs/reset";
@import "./libs/variables";
@import "./libs/mixins";
@import "./sous-fichiers/accueil";
@import "./sous-fichiers/cv";
@import "./sous-fichiers/goutte";
@import "./sous-fichiers/informatique";
@import "./sous-fichiers/navbar";
@import "./sous-fichiers/parcours";
@import "./sous-fichiers/partages";
@import "./sous-fichiers/portfolio";
@import "./sous-fichiers/notFound";


.App{
    width: 100%;
    min-height: 100vh;
    background-color: $blanc1;

}

.container{
    display: flex;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    border: 1px solid violet;
    margin: 0 auto;
    background-color:$noir1;
    position: relative;
    
    
}

.halo{
    width: 2vw;
    height: 2vw;
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 0.2;
    animation: bgc 180s infinite ease-in-out;
}

@keyframes bgc {
    50%{
        width: 60vw;
        height: 60vw;
        top: 50%;left: 50%;
    transform: translate(-50%, -50%);
    }
    100%{
        width: 2vw;
        height: 2vw;
    }
    
}

.pageContainer{

    width: 100%;
    min-height: 98vh;
    margin: 1vh 10px;
    margin-left: 320px;
    
    @include glassMorphBlack;



} 

