@import "./libs/reset";
@import "./libs/variables";
@import "./libs/mixins";
@import "./sous-fichiers/accueil";
@import "./sous-fichiers/cv";
@import "./sous-fichiers/goutte";
@import "./sous-fichiers/informatique";
@import "./sous-fichiers/navbar";
@import "./sous-fichiers/parcours";
@import "./sous-fichiers/partages";
@import "./sous-fichiers/portfolio";
@import "./sous-fichiers/sport";
@import "./sous-fichiers/notFound";

body {
  background-color: #fff;
}
.App {
  width: 100%;
  min-height: 90vh;
  box-sizing: border-box;
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: 320px 1fr;
  width: 100vw;
  max-width: 1920px;
  margin: 0 auto;
  background-color:#fff;
  padding-right: 10px;
  overflow: hidden;
}

.halo {
  width: 2vw;
  height: 2vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0.2;
  animation: bgc 60s infinite ease-in-out;
}

@keyframes bgc {
  50% {
    width: 60vw;
    height: 60vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    width: 2vw;
    height: 2vw;
  }
}

.pageContainer {
  width: 100%;
  max-width: 1620px;
  min-height: 90vh;
  margin: 1vh 0;
  @include glassMorphBlack;
}

@media (max-width: 1023px) {

  .container{
    display: flex;
  }
  .pageContainer {
    margin-left: 1vh;
    display: flex;
    flex-direction: column;
  }
}
