@import "./libs/reset";
@import "./libs/variables";
@import "./libs/mixins";
@import "./sous-fichiers/accueil";
@import "./sous-fichiers/cv";
@import "./sous-fichiers/goutte";
@import "./sous-fichiers/informatique";
@import "./sous-fichiers/navbar";
@import "./sous-fichiers/parcours";
@import "./sous-fichiers/partages";
@import "./sous-fichiers/portfolio";
@import "./sous-fichiers/notFound";


.App{
    width: 100%;
    min-height: 100vh;
    background-color: #f1f1f1;
}

.container{
    display: flex;
    padding: 10px;
    
}

