.accueilContainer {
    
    color: #fff;


.accueilContent{
    width: 100%;
    min-height: 50vh;
    border:1px solid violet;
    margin-top: 20px;

    h2{
        font-size: clamp(16px, 2.1vw, 40px);
        color : black;
        margin: 20px;        
        text-align: center;

    }

}






}





@import "./MQ/accueil_MQ";
