.accueilContainer {
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 97vh;
  justify-content: space-between;

  .accueilContent {
    width: 96%;
    max-width: 1620px;
    // height: 50vh;
    // border: 1px solid violet;
    margin: 0 auto;
    margin-top: 20px;
    // padding: 10px;

    .accueilTitlePage {
      h2 {
        text-align: center;
        width: 88%;
        color: #333;
        font-family: "Dancing Script", cursive;
        font-weight: bold;
        font-size: clamp(20px, calc(10px + 1.5vw), 40px);
        margin: 20px auto;
      }
    }
  }
}
.accueilContent2 {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-right: 10px;
  width: 96%;
  margin: 0 auto;

  img {
    opacity: 0;
    animation: apparition 6s linear infinite;
    width: 16%;
    // border : 1px solid red;
  }

  @keyframes apparition {
    0% {
      opacity: 0;
    }
    15% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    35% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}
.accueilContent2 img:nth-child(1) {
  animation-delay: 0s;
}
.accueilContent2 img:nth-child(2) {
  animation-delay: 1s;
}
.accueilContent2 img:nth-child(3) {
  animation-delay: 2s;
}
.accueilContent2 img:nth-child(4) {
  animation-delay: 3s;
}
.accueilContent2 img:nth-child(5) {
  animation-delay: 4s;
}
.accueilContent2 img:nth-child(6) {
  animation-delay: 5s;
}

@import "./MQ/accueil_MQ";
