.informatiqueContainer {
  color: #fff;

  .formations {
    .intro,
    .intro2 {
      color: #333;
      width: 90%;
      margin: 30px auto;
      text-align: justify;

      .suite {
        display: block;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
      }
    }

    .etalage {
      width: 98%;
      min-height: 500px;
      border: 3px solid black;
      border-radius: 15px;
      margin: 20px auto;
      background-color: #33333325;
      position: relative;
      overflow: hidden;

      .cadre {
        position: absolute;
        top: 200px;
        left: 200px;
        border: 3px solid #333;
        padding: 3px;
        border-radius: 10px;
        box-shadow: 2px 2px 4px #333;
        transform: rotate(-10deg);
        overflow: hidden;
        cursor: pointer;
      }

      .picto {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        border-radius: 10px;
        @include flexMid;

        img {
          width: 99%;
          height: 98%;
          border-radius: 10px
        }
      }

      .infoCours{
        position: absolute;
        bottom: 100px;
        right: 100px;
        border:4px solid violet;
        width: 200px;
        height: 150px;
      }

      .detailsOverlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #fff;
        z-index: 50;
      }

    }
  }
}

@import "./MQ/informatique_MQ";
