.navbarContainer {
  position: fixed;
  width: 300px;
  height: 98vh;
  margin: 1vh 10px;
  color: white;
  margin-right: 10px;
  @include flexMid;
  flex-direction: column;
  gap: 10px 0;

  .infoPerso {
    @include glassMorphBlack;
    width: 100%;
    height: 30%;

    img {
      display: block;
      width: clamp(120px, 60px + 9vh, 180px);
      height: clamp(120px, 60px + 9vh, 180px);
      border-radius: 999px;
      margin: 1.5vh auto;
      margin-bottom: calc(7vh - 50px);
    }

    h2 {
      // text-align: center;
      margin: 0 auto;
      width: fit-content;
      font-size: clamp(15px, 10px + 1vh, 30px);
      margin-bottom: 1vh;
      margin-top: 1vh;
      padding-bottom: 5px;
      text-shadow: 0.5px 0.5px 1px $blanc1;
    }
  }

  // Navigation #######################################

  .navigation {
    @include glassMorphBlack;
    width: 100%;
    height: 50%;

    ul {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
    }

    li {
      width: 80%;
      @include glassMorphBlack;
      padding-right: 1vh;
    }

    p {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      line-height: 100%;
      overflow: hidden;
      transition: all 0.5s;
    }
    p:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #fff;
      bottom: 12px;
      left: -100%;
      transition: all 0.5s;
    }

    i {
      text-shadow: 1px 1px 2px #ffffff80;
      font-size: 30px;
      margin: 1vh 0 1vh 1vh;
      
    }

    

    a {
      color: white;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: clamp(16px, 5px + 1.2vh, 20px);
      
    }

   

    li:hover p:after {
      left: 0;
    }

  }

  // SocialNetwork###################################

  .socialNetwork {
    @include glassMorphBlack;
    width: 100%;
    height: 15%;

    ul {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      position: relative;
      overflow: hidden;

      li {
        
        width: clamp(50px, 30px + 2.5vh, 60px);
        height: clamp(50px, 30px + 2.5vh, 60px);
        @include flexMid;
        font-size: clamp(20px, 10px + 1.5vh, 30px);
        cursor: pointer;
        border-radius: 50%;
        padding: 10px;
        transition: all 0.5s ease-out;
        position: relative;
        opacity:1;

        &:hover {
          border-color: $blanc2;
          transform: scale(1.2);
        }
      }
    }
  }


  // Signature ########################################

  .signature {
    @include glassMorphBlack;
    width: 100%;
    height: 5%;
    color: violet;
    @include flexMid;

    h2 {
      font-weight: bold;
    }
  }
}

@import "./MQ/navbar_MQ";
