.notFoundContainer{
    

    h2{
        font-size: clamp(40px, 20px + 1vh, 60px);
        color : white;
        text-align: center;
        margin: 40px auto;
    }

.content{
    @include glassMorphBlack;
    @include flexMid;
    flex-direction: column;
    width: 75%;
    height: 80vh;
    margin:150px auto;
    overflow: hidden;

    img{
        width: 33vw;
        max-width: 600px;
        height: 33vw;
        max-height: 600px;
    }

    h3{
        font-size: clamp(30px, 10px + 1vh, 50px);
        color : white;
        text-align: center;
        margin: 30px auto;
    }

}








}