// .sportContainer {
//   //   padding-top: 10px;
// }
.titlePage {
  margin: 20px;

  h2,
  h3 {
    text-align: center;
    color: #333;
    font-family: "Dancing Script", cursive;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 25px;
  }
}

.sportContent {
  width: 100%;
  min-height: 50vh;
  //   border: 1px solid violet;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
  padding: 15px;
  transition: all 0.75s;

  .titleSport {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  h2 {
    font-size: 40px;
    text-decoration: underline;
    margin: 0 0 20px 0;
  }

  .content {
    width: 96%;
    margin: 15px auto;
    min-height: 20vh;
    // border: 1px solid violet;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    img {
      width: 50%;
      border-radius: 15px;
      object-fit: contain;
      max-width: 350px;
      transform: scale(0.05) translateY(100px);
      opacity:0.05;
      animation : apparitionImg 2s ease-out forwards;
      animation-delay:0.5s
    }

    @keyframes apparitionImg {
      to{
        transform : scale(1) translateY(0);
        opacity:1
      }
      
    }

    .sportText {
      margin: 10px;
    }
  }
  .sportConclusion {
    p {
      width: 90%;
      margin: 10px auto;
      font-size: 18px;
      padding: 10px;
      font-weight: bold;
      text-align: center;
    }
  }
}

.switchSport {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: space-around;

  p {
    margin-top: 40px;
    padding: 10px 20px;
    border: 2px solid #197910;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
  }
  .choiceMade{
    font-weight: bold;
    background: radial-gradient(circle, rgba(25,121,16,1) 0%, rgba(255,255,255,1) 50%, rgba(25,121,16,1) 100%);
  }
}

@import "./MQ/sport_MQ";
